<%= render "components/navbar"%>
<%= render "components/banner"%>
<div class="container mt-4">
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
