<%= render "components/navbar"%>
<%= render "components/banner"%>

  <div class="container_show">
    <div class="create-list d-flex justify-content-end m-4">
      <%= button_to "Add bookmark", new_list_bookmark_path(@list), :method => :get %>
    </div>
    <div class="row justify-content-center">

    <% @bookmarks.each do |bookmark|%>
    <div class="col-2">
      <div class="card-category show_card_display m-3 d-flex justify-content-center align-items-center flex-column"  >
        <div class="card-image">
         <%= image_tag bookmark.movie.poster_url, class: "img-size" %>
        </div>
        <div class="card_info">
          <h4> <%= bookmark.movie.title %> </h4>
          <h5>- <%= bookmark.movie.rating %> <i class="fa-solid fa-star"></i></h5>
          <p> <%=bookmark.movie.overview%> </p>
          <div class="d-flex justify-content-between">
            <p> <i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
            <p><%= link_to "delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
